In [1]:
import sonde3
import pandas
import pytz

In [2]:
metadata, df = sonde3.read_ysi("tests/ysi_test_files/SA08.dat",pytz.timezone('US/Central'))

In [3]:
csv = pandas.read_csv("tests/ysi_test_files/SA08.CDF")

In [4]:
import sonde3
import os

root_dir = 'tests'
results = []
for directory, subdirectories, files in os.walk(root_dir):
    for file in files:
        if "_test.txt" in file:
            continue
        os.path.join(directory, file)
        results.append(os.path.join(directory, file) + ' ' + sonde3.autodetect(os.path.join(directory, file)))

In [5]:
sonde3.autodetect("tests/greenspan_test_files/RIOA_20060718_CDT_GS7837.xls")

'greenspan_xls'

In [6]:
sonde3.autodetect("tests\\greenspan_test_files\\SB3W_20090331_CDT_GS5396.csv")

'greenspan_csv'

In [7]:
metadata, df = sonde3.sonde("tests\\greenspan_test_files\\SB3W_20090331_CDT_GS5396.csv")

In [8]:
metadata

In [9]:
metadata, df = sonde3.sonde("tests/ysi_test_files/SA08.dat",pytz.timezone('US/Central'))

C:\Users\ETurner\AppData\Local\Continuum\Anaconda3\lib\site-packages\seawater\library.py:363: RuntimeWarning: invalid value encountered in sqrt
  Rtx = (rt) ** 0.5

In [10]:
df.head()

,datetime_(UTC),water_temp_c,water_conductivity_mS/cm,water_depth_m_nonvented,water_DO_%,instrument_battery_voltage,seawater_salinity_PSU,seawater_do_mgl
0,2008-07-16 12:51:31+00:00,28.998718,0.000037,0.010862,93.391418,6.09375,0.013536,7.183420
1,2008-07-16 13:51:31+00:00,28.482361,0.000059,0.016358,96.765137,6.09375,0.013326,7.510631
2,2008-07-16 14:51:31+00:00,27.257385,0.000546,0.017263,103.529358,6.09375,0.012655,8.212117
3,2008-07-16 15:51:31+00:00,29.507751,21.301758,0.542648,93.055725,6.09375,11.601472,6.655432
4,2008-07-16 16:51:31+00:00,29.762268,21.454102,0.557098,94.188690,6.09375,11.631321,6.706414

In [11]:
metadata, df = sonde3.read_ysi("tests/ysi_test_files/SA08.dat",pytz.timezone('US/Central'))
df = sonde3.calculate_salinity_psu(df)

C:\Users\ETurner\AppData\Local\Continuum\Anaconda3\lib\site-packages\seawater\library.py:363: RuntimeWarning: invalid value encountered in sqrt
  Rtx = (rt) ** 0.5

In [12]:
df.head()

,datetime_(UTC),water_temp_c,water_conductivity_mS/cm,water_depth_m_nonvented,water_DO_%,instrument_battery_voltage,seawater_salinity_PSU
0,2008-07-16 12:51:31+00:00,28.998718,0.000037,0.010862,93.391418,6.09375,0.013536
1,2008-07-16 13:51:31+00:00,28.482361,0.000059,0.016358,96.765137,6.09375,0.013326
2,2008-07-16 14:51:31+00:00,27.257385,0.000546,0.017263,103.529358,6.09375,0.012655
3,2008-07-16 15:51:31+00:00,29.507751,21.301758,0.542648,93.055725,6.09375,11.601472
4,2008-07-16 16:51:31+00:00,29.762268,21.454102,0.557098,94.188690,6.09375,11.631321

In [13]:
ODOtest = pandas.read_csv("tests/ysi_test_files/SA08.CDF")

In [14]:
df = sonde3.calculate_salinity_psu(df)
df = sonde3.calculate_do_mgl(df)

C:\Users\ETurner\AppData\Local\Continuum\Anaconda3\lib\site-packages\seawater\library.py:363: RuntimeWarning: invalid value encountered in sqrt
  Rtx = (rt) ** 0.5

In [15]:
df.head()

,datetime_(UTC),water_temp_c,water_conductivity_mS/cm,water_depth_m_nonvented,water_DO_%,instrument_battery_voltage,seawater_salinity_PSU,seawater_do_mgl
0,2008-07-16 12:51:31+00:00,28.998718,0.000037,0.010862,93.391418,6.09375,0.013536,7.183420
1,2008-07-16 13:51:31+00:00,28.482361,0.000059,0.016358,96.765137,6.09375,0.013326,7.510631
2,2008-07-16 14:51:31+00:00,27.257385,0.000546,0.017263,103.529358,6.09375,0.012655,8.212117
3,2008-07-16 15:51:31+00:00,29.507751,21.301758,0.542648,93.055725,6.09375,11.601472,6.655432
4,2008-07-16 16:51:31+00:00,29.762268,21.454102,0.557098,94.188690,6.09375,11.631321,6.706414

In [ ]:
sonde3.