In [6]:
import sonde3
import pandas

In [16]:
metadata, df = sonde3.read_ysi("tests/ysi_test_files/SA08.dat")

C:\Users\ETurner\Desktop\python\sonde3
Info: No time zone was set for file, assuming records are recorded in EST

In [27]:
df.head()

,Datetime_(UTC),_TempC,_CmS/cm,_Depm,_DO%,_BattV
0,2008-07-16 11:56:31+00:00,28.998718,0.000037,0.010862,93.391418,6.09375
1,2008-07-16 12:56:31+00:00,28.482361,0.000059,0.016358,96.765137,6.09375
2,2008-07-16 13:56:31+00:00,27.257385,0.000546,0.017263,103.529358,6.09375
3,2008-07-16 14:56:31+00:00,29.507751,21.301758,0.542648,93.055725,6.09375
4,2008-07-16 15:56:31+00:00,29.762268,21.454102,0.557098,94.188690,6.09375

In [30]:
df.round({'_TempC': 2, '_Depm': 3, '_DO%':1})

               Datetime_(UTC)  _TempC    _CmS/cm  _Depm   _DO%    _BattV
0   2008-07-16 11:56:31+00:00   29.00   0.000037  0.011   93.4  6.093750
1   2008-07-16 12:56:31+00:00   28.48   0.000059  0.016   96.8  6.093750
2   2008-07-16 13:56:31+00:00   27.26   0.000546  0.017  103.5  6.093750
3   2008-07-16 14:56:31+00:00   29.51  21.301758  0.543   93.1  6.093750
4   2008-07-16 15:56:31+00:00   29.76  21.454102  0.557   94.2  6.093750
5   2008-07-16 16:56:31+00:00   30.09  21.589355  0.563   97.2  6.093750
6   2008-07-16 17:56:31+00:00   30.36  21.918457  0.577   98.8  6.093750
7   2008-07-16 18:56:31+00:00   30.78  22.248535  0.569  106.4  6.093750
8   2008-07-16 19:56:31+00:00   30.90  22.152344  0.570  109.6  6.093750
9   2008-07-16 20:56:31+00:00   30.58  21.929199  0.555  104.7  6.093750
10  2008-07-16 21:56:31+00:00   30.49  21.901367  0.582  103.0  6.093750
11  2008-07-16 22:56:31+00:00   30.53  21.941895  0.585  104.5  6.093750
12  2008-07-16 23:56:31+00:00   30.64  24.577148  0.586  103.7  6.093750
13  2008-07-17 00:56:31+00:00   30.46  21.889160  0.584  104.3  6.093750
14  2008-07-17 01:56:31+00:00   30.25  21.755859  0.576   95.5  6.093750
15  2008-07-17 02:56:31+00:00   30.22  21.836426  0.576   98.1  6.093750
16  2008-07-17 03:56:31+00:00   30.28  21.643555  0.572  104.2  6.093750
17  2008-07-17 04:56:31+00:00   30.12  21.910156  0.561  102.0  6.093750
18  2008-07-17 05:56:31+00:00   30.01  21.713379  0.560   99.6  6.093750
19  2008-07-17 06:56:31+00:00   29.83  21.641602  0.530   97.7  6.093750
20  2008-07-17 07:56:31+00:00   29.68  21.686035  0.513   96.2  6.015625
21  2008-07-17 08:56:31+00:00   29.57  22.609375  0.511   95.4  6.093750
22  2008-07-17 09:56:31+00:00   29.43  23.754883  0.503   94.3  6.093750
23  2008-07-17 10:56:31+00:00   29.35  25.298340  0.494   93.2  6.093750
24  2008-07-17 11:56:31+00:00   29.28  25.756348  0.499   90.6  6.015625
25  2008-07-17 12:56:31+00:00   29.22  26.854980  0.505   91.2  6.015625
26  2008-07-17 13:56:31+00:00   29.34  27.844727  0.512   90.5  6.093750
27  2008-07-17 14:56:31+00:00   29.40  28.260742  0.528   92.2  6.093750
28  2008-07-17 15:56:31+00:00   29.86  28.588379  0.535   95.7  6.015625
29  2008-07-17 16:56:31+00:00   30.33  29.336914  0.549  100.3  6.093750
..                        ...     ...        ...    ...    ...       ...
670 2008-08-13 09:56:31+00:00   28.93   0.907455 -0.034   88.8  5.703125
671 2008-08-13 10:56:31+00:00   28.88   0.906784 -0.032   88.5  5.703125
672 2008-08-13 11:56:31+00:00   28.83   0.905411 -0.030   88.0  5.703125
673 2008-08-13 12:56:31+00:00   28.62   0.901489 -0.025   87.9  5.703125
674 2008-08-13 13:56:31+00:00   28.33   0.897217 -0.018   86.8  5.625000
675 2008-08-13 14:56:31+00:00   28.22   0.896713 -0.011   85.8  5.625000
676 2008-08-13 15:56:31+00:00   27.67   0.887405 -0.005   82.0  5.703125
677 2008-08-13 16:56:16+00:00   22.63   0.027827 -0.054   -0.0  5.546875
678 2008-08-13 17:56:16+00:00   24.01  -0.000004 -0.055   -0.0  5.546875
679 2008-08-13 18:56:16+00:00   23.68  -0.000004 -0.060   -0.0  5.546875
680 2008-08-13 19:56:16+00:00   23.86  -0.000004 -0.069   -0.0  5.546875
681 2008-08-13 20:56:16+00:00   23.87  -0.000005 -0.070   -0.0  5.546875
682 2008-08-13 21:56:16+00:00   24.05  -0.000005 -0.071   -0.0  5.546875
683 2008-08-13 22:56:16+00:00   24.00  -0.000005 -0.071   -0.0  5.546875
684 2008-08-13 23:56:16+00:00   23.88  -0.000005 -0.076   -0.0  5.468750
685 2008-08-14 00:56:16+00:00   23.92  -0.000005 -0.076   -0.0  5.468750
686 2008-08-14 01:56:16+00:00   23.90  -0.000005 -0.072   -0.0  5.468750
687 2008-08-14 02:56:16+00:00   23.88  -0.000006 -0.064   -0.0  5.546875
688 2008-08-14 03:56:16+00:00   23.88  -0.000005 -0.059   -0.0  5.468750
689 2008-08-14 04:56:16+00:00   23.98  -0.000006 -0.052   -0.0  5.468750
690 2008-08-14 05:56:16+00:00   23.94  -0.000005 -0.054   -0.0  5.468750
691 2008-08-14 06:56:16+00:00   23.92  -0.000006 -0.058   -0.0  5.546875
692 2008-08-14 07:56:16+00:00   24.03  -0.000005 -0.057   -0.0  5.468750
693 2008-08-14 08:56:16+00:00   23.96  -0.000005 -0.055   -0.0  5.468750
694 2008-08-14 09:56:16+00:00   23.91  -0.000005 -0.054   -0.0  5.468750
695 2008-08-14 10:56:16+00:00   23.98  -0.000006 -0.052   -0.0  5.546875
696 2008-08-14 11:56:16+00:00   23.94  -0.000005 -0.050   -0.0  5.468750
697 2008-08-14 12:56:16+00:00   24.04  -0.000005 -0.046   -0.0  5.468750
698 2008-08-14 13:56:16+00:00   24.11  -0.000005 -0.039   -0.0  5.468750
699 2008-08-14 14:56:16+00:00   24.18  -0.000006 -0.035   -0.0  5.468750

[700 rows x 6 columns]

In [21]:
csv = pandas.read_csv("tests/ysi_test_files/SA08.CDF")

In [22]:
csv.head()

,Date,Time,Temp,SpCond,Depth,ODO%,Battery,Cond,ODO Conc,Resistivity,Salinity,TDS
0,M/D/Y,hh:mm:ss,C,mS/cm,m,%,V,mS/cm,mg/L,KOhm.cm,ppt,g/L
1,07/16/2008,07:00:31,29.00,0.000,0.011,93.4,6.1,0.000,7.18,26854.29,-0.00,0.000
2,07/16/2008,08:00:31,28.48,0.000,0.016,96.8,6.1,0.000,7.51,16950.16,-0.00,0.000
3,07/16/2008,09:00:31,27.26,0.001,0.017,103.5,6.1,0.001,8.21,1830.82,-0.00,0.000
4,07/16/2008,10:00:31,29.51,19.613,0.543,93.1,6.1,21.302,6.66,0.05,11.60,12.749

In [24]:
csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 701 entries, 0 to 700
Data columns (total 12 columns):
Date           701 non-null object
Time           701 non-null object
Temp           701 non-null object
SpCond         701 non-null object
Depth          701 non-null object
ODO%           701 non-null object
Battery        701 non-null object
Cond           701 non-null object
ODO Conc       701 non-null object
Resistivity    701 non-null object
Salinity       701 non-null object
TDS            701 non-null object
dtypes: object(12)
memory usage: 65.8+ KB

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 6 columns):
Datetime_(UTC)    700 non-null datetime64[ns, UTC]
_TempC            700 non-null float64
_CmS/cm           700 non-null float64
_Depm             700 non-null float64
_DO%              700 non-null float64
_BattV            700 non-null float64
dtypes: datetime64[ns, UTC](1), float64(5)
memory usage: 32.9 KB